<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TimeTracking uses your location to detect when you arrive at and leave the office.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>TimeTracking needs background location access to automatically log your office arrivals and departures.</string>
</dict>
</plist>
